<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
    body{
    text-align:center;
    background-size: cover;
    background-url : "wallpaper.jpg";
    background-position: center;
    color: black;
    font-size: 30px;
    }
    </style>
</head>
<body>
<form method="post">
    {% csrf_token %}

      <div>
          <label for="username">Username: </label>
          <input id="username" type="text" name="username" value={{ username }}>
      </div>

      <div>
          <label for="password">Password: </label>
          <input id="password" type="password" name="password" value={{ password }}>
      </div>

      <input type="submit" value="Log In">

    </form>


</body>
</html>