<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    body{
    text-align:center;
    background-size: cover;
    background-image : url("http://cdn.wallpapersafari.com/22/97/qJvG2k.jpg");
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    font-size: 40px;
    margin-top: 200px;

    }
     input[type="submit"]
    {
    width: 15em;
    height: 2.5em;
    color: white;
    background: orange;
    border-radius: 8px;
    font-size: 15px;
    }
    </style>
</head>
<body>
    Successfully signed up!
    <form action="/login/" method="get">
        <input type="submit"  value="Login">
    </form>
</body>
</html>